<h3>Héroe <small>nombre...</small></h3>
<button class="btn btn-outline-primary" type="button" name="button" [routerLink]="['heroes']">Volver</button>
<button class="btn btn-outline-success" (click)="agregarNuevo(forma)" type="button">Nuevo heroe</button><br><br>

<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #forma="ngForm">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" [(ngModel)]="heroe.nombre" class="form-control" name="nombre" value="">
    </div>

    <div class="form-group">
      <label for="casa">Casa</label>
      <select class="form-control" [(ngModel)]="heroe.casa"  name="casa">
      <option value="Marvel">Marvel</option>
      <option value="DC">DC</option>
      </select>
    </div>

    <div class="form-group">
      <label for="bio">Bio</label>
      <textarea name="bio" [(ngModel)]="heroe.bio" class="form-control"  ></textarea>

    </div>

    <div class="form-group">
      <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary"  >Guardar Cambios</button>
    </div>

    </form>

  </div>

</div>
